<form action="{{ routes.cart_url }}" method="post">
  <div class="my-cart" data-ajax-cart-section>
    <h2>Cart</h2>

    {% for item in cart.items %}
      <div class="my-cart__item">
        <a href="{{ item.url }}">{{ item.title }}</a>
        <div>Price: {{ item.final_price | money }}</div>

        <div>
          Quantity:
          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}">
            <i class="minus-icon"></i>
          </a>
          <input
            data-ajax-cart-quantity-input="{{ forloop.index }}"
            value="{{ item.quantity }}"
            name="updates[]"
            type="number" />
          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}">
            <i class="plus-icon"></i>
          </a>
        </div>
        <div data-ajax-cart-messages="{{ item.key }}"></div>

        <div>Total:
          <strong>{{ item.final_line_price | money }}</strong>
        </div>
      </div>
    {% endfor %}

    <button type="submit" name="checkout">Checkout — {{ cart.total_price | money_with_currency }}</button>
  </div>
</form>