{% comment %} Show Collections category {% endcomment %}
<div class="Collections-list mt-6">
  <ul class="border shadow-xl px-7 py-5">
    <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Collections</h1>
    {% for collection in collections %}
      <li class=" text-2xl ">
        <a href="{{ collection.url }}" class="hover:underline">{{ collection.title }} ({{ collection.products_count }})</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% comment %} Show Vendors {% endcomment %}
<div class="Vendors mt-6">
  <ul class="border shadow-xl px-7 py-5">
    <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Vendor
    </h1>
    {% for vendor in collection.all_vendors %}
      <li class=" text-2xl">
        <a href="">
          {{ vendor }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% comment %} Show tag   {% endcomment %}
<div class="Tags mt-6">
  <ul class="border shadow-xl px-7 py-5">
    <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Tag Lists</h1>

    {% for tag in collection.all_tags %}
      <li class=" text-2xl">{{ tag }}</li>
    {% endfor %}
  </ul>
</div>
{% comment %} Show Availabilyty{% endcomment %}
<div class="Availability mt-6">
  <ul class="border shadow-xl px-7 py-5">
    <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Availability</h1>
  </ul>
</div>