<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'custome.css' | asset_url | stylesheet_tag }}

    {% comment %} flex slider css links {% endcomment %}
    {{ 'flexslider.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/flexslider.css">

    {% comment %} swipper slider {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    {{ 'jquery.min.js' | asset_url | script_tag }}



  </head>
  <body x-data="{ cartSideBar: false }" x-cloak>
    {% section 'header' %}

    {% comment %} {% if template == 'index' %}
    {% section 'banner' %}
    {% endif %} {% endcomment %}
    <div class="main_content">
      <main role="main">
        {{ content_for_layout }}
      </main>
    </div>


    {% section 'footer' %}
    <script src="{{ 'flexslider-init.js' | asset_url }}" async></script>
    <script src="{{ 'application.js' | asset_url }}" async></script>
    <script src="{{ 'add-cart.js' | asset_url }}" async></script>

    {% comment %} alpin js start {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% comment %} alpin js end {% endcomment %}

    {% comment %} flex slider and j query {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="../assets/jquery.flexslider-min.js"></script>

    <script>
      $(document).ready(function() {
        $('.flexslider').flexslider({
          animation: 'fade',
          slideshowSpeed: 7000,
          animationSpeed: 600,
          initDelay: 0,
          start: function(slider) {}
        });
      });
    </script>
    {% comment %} swipper slider {% endcomment %}
    {% comment %} swipper slider {% endcomment %}
    {% comment %} swipper slider {% endcomment %}
    {% comment %} swipper slider {% endcomment %}
    {% comment %} swipper slider {% endcomment %}<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"> </script>

    <script>
      const swiper = new Swiper('.swiper', {

        // Optional parameters
        direction: 'horizontal',
        loop: true,
        slidesPerView: 1,

        breakpoints: {
          '552': {
            slidesPerView: 1,
            spaceBetween: 40
          },

          '762': {
            slidesPerView: 2,
            spaceBetween: 40
          },
          '1200': {
            slidesPerView: 3,
            spaceBetween: 40
          }

        },

// Navigation arrows
        navigation: {
          nextEl: '.featured_collection_slider_nav_next',
          prevEl: '.featured_collection_slider_nav_prev'
        }
      });
    </script>
    {% comment %} Swipper for product slider {% endcomment %}
    <script>
      const swiper_product = new Swiper('.swiper_product', {

        // Optional parameters
        direction: 'horizontal',
        loop: true,
        slidesPerView: 1,

        breakpoints: {
          '552': {
            slidesPerView: 1,
            spaceBetween: 40
          },

          '762': {
            slidesPerView: 2,
            spaceBetween: 40
          },
          '1200': {
            slidesPerView: 3,
            spaceBetween: 40
          }

        },

// Navigation arrows
        navigation: {
          nextEl: '.swiper-button-prev_product',
          prevEl: '.swiper-button-next_product'
        }
      });
    </script>



    {% comment %} Swipper for product slider {% endcomment %}
    <script>
      const swiper_banner = new Swiper('.swiper_banner', {

        // Optional parameters
        direction: 'horizontal',
        loop: true,
        slidesPerView: 1,

        breakpoints: {
          '552': {
            slidesPerView: 1,
            spaceBetween: 40
          },

          '762': {
            slidesPerView: 1,
            spaceBetween: 40
          },
          '1200': {
            slidesPerView: 1,
            spaceBetween: 40
          }

        },

// Navigation arrows
        navigation: {
          nextEl: '.swiper-button-prev_product',
          prevEl: '.swiper-button-next_product'
        }
      });
    </script>

    <!-- recently view functions -->

    {% if template contains 'product' %}

      {{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}
      {{ 'jquery.products.min.js' | asset_url | script_tag }}

      <script>
        Shopify.Products.recordRecentlyViewed();
      </script>

    {% endif %}
    {% comment %} search bar autocomplete {% endcomment %}
    {% comment %} search bar autocomplete {% endcomment %}
    {% comment %} search bar autocomplete {% endcomment %}
    {% comment %} search bar autocomplete {% endcomment %}
    {% comment %} search bar autocomplete {% endcomment %}


  {% render 'autocomplete-search' %}



</body></html>