<div class="flexslider  ">
  <ul class="slides">
    <li>


      <img
        src="{{ 'logos.png' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">

    </li>
    <li>

      <img
        src="{{ 'logos.png' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">



    </li>
    <li>
      <img
        src="{{ 'logos.png' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">
    </li>
    <li>
      <img
        src="{{ 'logos.png' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">
    </li>
    <li>
      <img
        src="{{ 'logos.png' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">
    </li>
    <li>
      <img
        src="{{ 'logos.png' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">
    </li>
  </ul>
</div>



{% schema %}
  {
    "name": "HeroBenner",
    "settings": [
      {
        "type": "image_picker",
        "id": "slide_1",
        "label": "slider images"
      },
      {
        "type": "image_picker",
        "id": "slide_2",
        "label": "slider images"
      },
      {
        "type": "image_picker",
        "id": "slide_3",
        "label": "slider images"
      },
      {
        "type": "image_picker",
        "id": "slide_4",
        "label": "slider images"
      }, {
        "type": "image_picker",
        "id": "slide_5",
        "label": "slider images"
      }, {
        "type": "image_picker",
        "id": "slide_6",
        "label": "slider images"
      }

    ]
  }
{% endschema %}