<div class="container mx-auto px-4 py-8">
  <div class="Back_to_Collection_page text-center p-3">
    <a href="{{ routes.collections_url }}" class="text-base text-gray-400 hover:text-gray-900">Go Back To CollectionS</a>
  </div>

  <!-- Creatting Filters For collections -->

  <div class="filters flex justify-end">



    {% comment %} Shorting Filter and avaliblity {% endcomment %}
    <div class="flex justify-end items-center">
      <div class="filter_heading mx-4">
        <h1>Sort By:</h1>
      </div>
      <select
        name="sorting"
        id="sort_by"
        class="form-select border px-4 py-2 w-25"
        onchange="location = this.value;">
        <option value="{{ collection.url }}?sort_by=title-ascending">Alphabetically: A to Z</option>
        <option value="{{ collection.url }}?sort_by=title-descending">Alphabetically: Z to A</option>
        <option value="{{ collection.url }}?sort_by=price-ascending">Price: Low to High</option>
        <option value="{{ collection.url }}?sort_by=price-descending">Price: High to Low</option>
        <option value="{{ collection.url }}?sort_by=created-ascending">Date: Old to New</option>
        <option value="{{ collection.url }}?sort_by=created-descending">Date: New to Old</option>
      </select>
      <div class="all_product_count mx-4">
        <h1>{{ collection.products_count }} Results</h1>
      </div>
    </div>
  </div>

  {% comment %}End Shorting Filter {% endcomment %}


  <!-- Creatting Filter For collections -->

  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1 class="text-5xl text-center py-4 mb-8">
      {{ collection.title }}</h1>
    <div class="flex">
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
        <div class=" w-1/4 min_and_max_amount_functionality filter_availablity_and_price"> <h1 class="mx-4 absolute">Filter:</h1>


        {% comment %} Show Collections category {% endcomment %}
        <div class="Collections-list mt-6">
          <ul class="border shadow-xl px-7 py-5">
            <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Collections</h1>

            {% for collection in collections %}
              <li class=" text-2xl ">
                <a href="{{ collection.url }}" class="hover:underline">{{ collection.title }} ({{ collection.products_count }})</a>
              </li>
            {% endfor %}
          </ul>
        </div>



        {% comment %} Show Vendors {% endcomment %}


        <div class="Vendors mt-6">
          <ul class="border shadow-xl px-7 py-5">
            <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Vendor
            </h1>
            {% for vendor in collection.all_vendors %}

              <li class=" text-2xl">



                <a href="/collections/vendors?q=">
                  {{ vendor }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>


        dfvdfv
        {% comment %} Show tag   {% endcomment %}

        <div class="Tags mt-6">
          <ul class="border shadow-xl px-7 py-5">
            <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Tag Lists</h1>

            {% for tag in collection.all_tags %}
              <li class=" text-2xl">{{ tag }}</li>
            {% endfor %}
          </ul>
        </div>



        {% comment %} Show Availabilyty{% endcomment %}
        <div class="Availability mt-6">
          <ul class="border shadow-xl px-7 py-5">
            <h1 class=" text-base text-zinc-700 font-bold uppercase pb-4">Availability</h1>
          </ul>



        </div>



      </div>

      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %}  {% endcomment %}



        <div class=" w-3/4 grid   sm:grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4"> {% for product in collection.products %}
          {% render 'product-card', product_product: product %}

        {% else %}
          <div class="font-bold flex justify-center items-center">
            <h1>There Are No Product In Your Collection</h1>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "template collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "number of products per page"
      }
    ]
  }
{% endschema %}