<div class="container mx-auto py-16 px-4 sm:py-24 sm:px-6">

  <h1 class="text-2xl font-bold text-gray-700">Account</h1>

  <div class="md:flex block ">
    {% assign number_of_orders = customer.orders | size %}
    {% if number_of_orders > 0 %}

      <div class="my-6 md:my-12">
        <h2 class="text-xl font-bold text-gray-700">Orders history</h2>
        {% paginate customer.orders by 15 %}
          <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">


            {% for order in customer.orders %}
              <div class="relative">


                {% comment %} Order Images {% endcomment %}
                <div class="min-80 bg-gray-200 rounded-md  overflow-hidden lg:h-80">
                  {% if order.line_items.first.image %}
                    <img
                      class="w-full h-full object-cover object-center"
                      src="{{ order.line_items.first.image | image_url}}"
                      alt="{{ order.line_items.first.image.alt }}"
                      width="full"
                      height="full"
                      loading="lazy">
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover object-center' }}
                  {% endif %}
                </div>
                {% comment %} order Details {% endcomment %}
                <div class="mt-4 flex items-start justify-between">
                  <div>
                    <h3 class="text-sm text-gray-700">{{ order.name | link_to: order.customer_url }}</h3>
                    <p class="mt-1 text-sm text-gray-500">{{ order.financial_status_label }}</p>
                  </div>
                  <div class="text-right">
                    <p class="text-sm font-medium text-white bg-gray-700 rounded-full px-3 py-1">{{ order.fulfillment_status_label }}</p>
                    <p class="text-sm">{{ order.total_price | money }}</p>
                  </div>
                </div>


              </div>
            {% endfor %}
          </div>
          <div class="flex justify-center font-bold">
            <h1>{% render 'pagination', pagination: paginate %}</h1>
          </div>
        {% endpaginate %}



      </div>
    {% else %}
      <div class="flex items-center justify-center font-medium">
        <h1 class="text-base">You currently don't have any order
          <a href="{{ routes.all_products_collection_url }}" class="px-4 underline">Orders now</a>
        </h1>

      </div>
    {% endif %}

    {% comment %} Account Details {% endcomment %}

    <div class="w-full md:w-1/4">

      <h2 class=" text-3xl font-bold text-gray-700 mb-12">Account Details</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}" class="text-sm text-blue-600 hover:text-blue-950  underline">View Address</a>



    </div>



  </div>
</div>