<h1 class="text-5xl text-center py-40 mb-8  bg-gray-700   text-white">{{ section.settings.title }}</h1>

<div class="list_collections_section">
  <div class="container mx-auto">



    <div class="SearchBar_for_collectiond"></div>
    <div class="flex flex-col py-9 items-center">

      <div class="  my-3">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6  px-4">
          {% for collection in collections %}
            {% if collection.all_products_count >= 0 %}
              <div class="w-full pb-6   bg-white rounded shadow-xl hover:scale-100" data-section="{{ section.id }}">
                <div class="w-full h-full">
                  <DIV class="w-full h-full">
                    {% comment %} <div class="h-80 overflow-hidden"> {% endcomment %}
                    <div class="w-full h-full collection-image_directions {{ section.id }}-{{ forloop.index0 }}">
                      {% if collection.featured_image != blank %}
                        {% assign collection_image = collection.featured_image %}
                      {% else %}
                        {% assign collection_image = collections.products.first.image %}
                      {% endif %}
                      <div class=" overflow-hidden">
                        <img
                          class="w-full hover:scale-110  duration-200 transition image_category"
                          src="{{ collection_image | image_url }}"
                          height="full"
                          width="full"
                          loading="lazy"></div>

                      <div class="collection_list_card_details">
                        <div class="p-6">
                          <a href="{{ collection.url }}" class="text-xl hover:underline">{{ collection.title }}</a>
                          <p class="text-sm py-4">{{ collection.description }}</p>
                        </div>
                        <div class="flex items-center justify-center">
                          <a href="{{ collection.url }}" class="text-white py-3 px-8 bg-black hover:bg-white hover:text-black border transition  duration-300 ">SHOP NOW
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="flex items-center justify-center">
                <h1 class="text-7xl">Sorry No Collections Found!🥺</h1>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "List Collections",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Collections"

      }, {
        "type": "collection_list",
        "id": "collection_lists",
        "label": "all collections list"
      }
    ]
  }
{% endschema %}