<h1 class="text-5xl text-center py-40 mb-8  bg-gray-700   text-white">
  {{ collection.title }}</h1>
<div class="Back_to_Collection_page text-center p-3">
  <a href="{{ routes.collections_url }}" class="text-base text-gray-400 hover:text-gray-900">Go Back To CollectionS</a>
</div>

<div class="container mx-auto px-4 py-8">

  <!-- Creatting Filters For collections -->
  <div class="filters flex justify-end my-4">
    {% comment %} Shorting Filter and avaliblity {% endcomment %}
    <div class="flex justify-left md:justify-end items-center">
      <div class="filter_heading mx-4">
        <h1>Sort By:</h1>
      </div>
      <select
        name="sorting"
        id="sort_by"
        class="form-select border px-4 py-2 w-25"
        onchange="location = this.value;">
        <option value="{{ collection.url }}?sort_by=title-ascending">Alphabetically: A to Z</option>
        <option value="{{ collection.url }}?sort_by=title-descending">Alphabetically: Z to A</option>
        <option value="{{ collection.url }}?sort_by=price-ascending">Price: Low to High</option>
        <option value="{{ collection.url }}?sort_by=price-descending">Price: High to Low</option>
        <option value="{{ collection.url }}?sort_by=created-ascending">Date: Old to New</option>
        <option value="{{ collection.url }}?sort_by=created-descending">Date: New to Old</option>
      </select>
      <div class="all_product_count mx-4">
        <h1>{{ collection.products_count }} Result</h1>
      </div>
    </div>
  </div>

  {% comment %}End Shorting Filter {% endcomment %}


  <!-- Creatting Filter For collections -->



  <div class=" block md:flex">
    <div class="w-full md:w-1/4 min_and_max_amount_functionality filter_availablity_and_price">
      <h1 class=" text-3xl mx-0 ">Filter:</h1>
      {% render 'product-page-filter' %}
    </div>
    <!-- Creatting Filter For collections -->
    {% paginate collection.products by 9 %}
      <div class="w-full md:w-3/4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6  px-4">
        {% assign avalaible_p = collection.products | where: 'available', true %}
        {% assign not_avalaible_p = collection.products | where: 'available', false %}


        {% comment %} Show Avalable products {% endcomment %}
        {% for product in avalaible_p %}
          {% render 'product-card', product_product: product %}
        {% else %}
          <div class="font-bold flex justify-center items-center">
            <h1>There Are No Product In Your Collections</h1>
          </div>
        {% endfor %}

        {% comment %} Show Out Of Stock product{% endcomment %}
        {% for product in not_avalaible_p %}
          {% render 'product-card', product_product: product %}
        {% endfor %}
      </div>
    </div>
    <div class="pagination text-center text-3xl my-8">
      {{ paginate | default_pagination }}
    </div>
  {% endpaginate %}


</div>

{% schema %}
  {
    "name": "template collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "number of products per page"
      }
    ]
  }
{% endschema %}